@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    /* font-size: 62.5%; */
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

/* section{
    padding:2rem 9%;
} */

body {
    margin: 0 auto;
    align-items: center;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
}

section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.1rem;
    height: 3.5rem;
    box-shadow: var(--box-shadow);
    background-color: white;
}

.logo, .ul, .icons {
    display: flex;
    align-items: center;
    font-size: 1rem;
    gap: 1rem;
}

.logo {
    gap: 0.2rem;
    font-size: 1.4rem;
}

.logo h3 , .logo a{
    color: var(--black);
}

.logo i {
    color: var(--green);
}

a, a:hover, a:visited{
    text-decoration: none;
}

.ul {
    list-style: none;
}

.ul a {
    color: var(--light-color);
}

.ul a:hover , ul a:visited, .ul a:active, .li-active {
    background-color: var(--green) !important;
    padding: 7px;
    border-radius: 7px;
    color: white !important;
}

.icons > :first-child {
    display: none;
}

.icons i {
    background-color: lightgray;
    padding: 10px;
    border-radius: 50%;
    color: var(--black);
}

.icons i:hover, .menuImg i:hover, .dishImg i:hover {
    background-color: var(--green);
    color: white;
    transform: rotate(360deg);
}

#home {
    display: flex;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-items: center;
    width: 90%;
}

.homeContainer {
    margin: 0 auto;
    align-items: center;
    /* width: 95%; */
}

.details {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.details img {
    flex:1 1 45rem;
    height: 30rem
}

.special h3{
    color:var(--green);
    font-size: 1.7rem;
}

.special h1{
    color:var(--black);
    font-size: 5rem;
}

.special p{
    color:var(--light-color);
    font-size: 1.5rem;
    padding:.5rem 0;
    line-height: 1.5;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet{
    background:var(--green);
}

.btn {
    background-color: var(--black);
    padding: 10px 25px;
    color: white;
    border-radius: 7px;
}

#dishes {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
}

h4{
    font-size: 1.5rem;
    color: var(--green);
}

h2 {
    font-size: 2.2rem;
    color: var(--black);
}

h1 {
    font-size: 2.5rem;
    color: var(--black);
}

.dishesContainer, .menuContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.dish, .menu {
    background-color: white;
    width: 22rem;
    height: 20rem;
    padding: 20px;
    border-radius: 7px;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dishImg, .menuImg {
    display: flex;
}

.dishImg > img, .menuImg > img {
    width: 13.75rem;
    height: 10.625rem;
}

.dishImg i, .menuImg i {
    visibility: hidden;
    color: var(--black);
    padding: 20px;
    background-color: lightgray;
    height: 3.5rem;
    border-radius: 50%;
    transition: visibility 0.5s ease-in-out;
}

.dish:hover > .dishImg i {
    visibility: visible;
}

.star, .check p {
    color: var(--green);
    font-size: 1.2rem;
}

.check {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutContainer {
    display: flex;
    align-items: center;
    width: 90%;
}

.aboutContainer img {
    width: 38rem;
}

.bestFood {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
}

.bestFood p{
    color: var(--light-color);
}

.msg {
    padding: 15px;
    background-color: lightgray;
    border: solid 1px darkgray;
    border-radius: 7px;
    display: flex;
    align-items: center;
    height: 3rem;
    justify-content: center;
    align-content: center;
    gap: 1rem;
}

.msg i {
    font-size: 1.4rem;
    color: var(--green);
}

.abt {
    display: flex;
    gap: 1rem;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightgray;
}

.menu {
    width: 18rem;
    height: 25rem;
    align-items: flex-start;
    justify-content: space-between;
}

.menuImg {
    width: 100%;
}

.menuImg img{
    width: 100%;
    border-radius: 7px;
    font-size: 1.2rem;
}

.menuImg i {
    visibility: visible;
    margin-left: -5rem;
    margin-top: 1rem;
}

.menu h4, .dish h4 {
    color: var(--black);
}

.starp {
    color: var(--light-color);
    font-size: 1.1rem;
}

#customer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#customer .swiper {
    margin: 0 auto;
    width: 70%;
}

#customer .swiper-wrapper {
    margin: 0 auto;
}

.customContainer {
    display: flex;
    gap: 1rem;
}

.customer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px darkgray;
    border-radius: 7px;
    margin: 0 auto;
    width: 28.375rem;
    gap: 1rem;
    padding: 10px
}



.customerHead{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 95%;
}

.user {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.customer p{
    margin: 0 auto;
    width: 95%;
}

.user img {
    border-radius: 50%;
    width: 3.85rem;
    height: 3.85rem;
}

.customerHead i {
    font-size: 1.5rem;
    color: lightgray;
}

.userText h4{
    color: var(--black);
}

#order {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: lightgray;
    margin: 0 auto;
    color: var(--light-color);
}

#order form {
    max-width: 90rem;
    border-radius: 0.5rem;
    box-shadow: var(--box-shadow);
    border: 0.1rem solid rgba(0,0,0,.2);
    background: #fff;
    padding: 1.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-direction: row;
    width: 70%;
}

#order form > div {
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    padding-bottom: 2.5rem;
}

#order a {
    width: 9rem;
    height: 2.5rem;
    margin-top: -3.5rem;
    /* margin-left: -29rem; */
}

#order input {
    background-color: lightgray;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

#order input:last-child {
    height: 5rem;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

.box-container {
    display: flex;
    gap: 2rem;
    padding: 1rem;
    margin: 0 auto;
    width: 85%;
    justify-content: space-around;
}


.box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.box  h3{
    color: var(--black);
}

.box  a{
    color: var(--light-color);
}

@media only screen and (max-width: 1115px){
    .details {
        flex-direction: column;
    }

    .aboutContainer {
        flex-direction: column;
    }

    .aboutContainer img {
        width: 50rem;
    }

    .abt{
        width: 90%;
        justify-content: space-between;
    }

    .msg {
        width: 100%;

    }
}

@media only screen and (max-width: 768px) and (min-width: 350px) {

    .icons > :first-child {
        display: block;
    }

    .ul {
        display: none;
    }

    .active {
        display: flex;
        position: absolute;
        flex-direction: column;
        margin-top: 26rem;
        width: 100%;
        background-color: white;
        padding: 10px;
        border: 1px solid lightgray;
    }

    .ul > a {
        padding: 10px;
        background-color: lightgray;
        width: 97%;
        border-radius: 7px;
    }

    /* a {
        width: 100%;
    } */

    .details img {
        flex: none;
    }

    .aboutContainer img {
        width: 38rem;
    }

}

@media only screen and (max-width: 550px){

.special {
    width: 85%;
    margin-left: -15%;
}

.special h3{
    font-size: 1.5rem;
}

.special h1{
    font-size: 3rem;
}

.special p{
    font-size: 1.2rem;
}

nav {
    margin: 0 auto;
    /* width: 95%; */
}

.icons { 
    gap: 0.4rem;
    font-size: 0.8rem;
}

.details img {
    width: 70%;
    margin-left: -30%;
    margin-top: 2rem;
    height: 85%;
}

.dish {
    padding: 0;
    width: inherit;
    height: 22rem;
    justify-content: space-evenly;
}

.dishesContainer, .menuContainer {
    gap: 2rem;
}


.aboutContainer img {
    width: 22rem;
}

.bestFood {
    width: 80%;
}

.abt {
    flex-direction: column;
}

#order form {
    flex-direction: column;
    padding-bottom: 3.8rem;
}

#order form > div {
    width: 100%;
    padding-bottom: 0;
}

.box-container {
    flex-direction: column;
}

.dishImg > img {
    width: 10rem ;
}

}